# Backend
backend/todolist/target/
backend/todolist/.mvn/
backend/todolist/mvnw
backend/todolist/mvnw.cmd
backend/todolist/HELP.md
*.class
*.log

# Frontend
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.dbbackend/todolist/src/main/resources/application.yml
